<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <title>To Do list</title>
    <style>
        .container {
            max-width: 100%;
        }
        .card {
            margin-bottom: 5px;
        }
    </style>
</head>

</html>