<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-9">
      <div style="text-align: right; margin-bottom: 5px">
        <button type="button" class="btn btn-outline-primary" th:onclick="|location.href='@{/add}'|">
          <i class="fa fa-plus-square-o" aria-hidden="true"></i> 할 일 추가
        </button>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">To Do</h5>
            </div>
          </div>
          <div th:each="toDo : ${toDoList}">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h5 class="card-title" th:text="${toDo.title}"></h5>
                  </div>
                  <div class="col-3" style="text-align: right">
                    <a class="text-decoration-none text-black" th:href="@{|/edit/${toDo.id}|}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="text-decoration-none text-black" th:href="@{|/delete/${toDo.id}|}">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <p class="card-text" th:text="${toDo.contents}"></p>
                <div style="text-align: center">
                  <form class="needs-validation col-sm-6" th:action="@{/move-right/{toDoId} (toDoId=${toDo.id})}" th:method="put" style="width: 100%">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Working</h5>
            </div>
          </div>
          <div th:each="working : ${workingList}">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h5 class="card-title" th:text="${working.title}"></h5>
                  </div>
                  <div class="col-3" style="text-align: right">
                    <a class="text-decoration-none text-black" th:href="@{|/edit/${working.id}|}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="text-decoration-none text-black" th:href="@{|/delete/${working.id}|}">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <p class="card-text" th:text="${working.contents}"></p>
                <div style="text-align: center">
                  <div class="row">
                    <form class="needs-validation col-sm-6" th:action="@{/move-left/{toDoId} (toDoId=${working.id})}" th:method="put">
                      <button type="submit" class="btn btn-success">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                      </button>
                    </form>
                    <form class="needs-validation col-sm-6" th:action="@{/move-right/{toDoId} (toDoId=${working.id})}" th:method="put">
                      <button type="submit" class="btn btn-success">
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                      </button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center">Done</h5>
            </div>
          </div>
          <div th:each="done : ${doneList}">
            <div class="card" style="width: 100%;">
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <h5 class="card-title" th:text="${done.title}"></h5>
                  </div>
                  <div class="col-3" style="text-align: right">
                    <a class="text-decoration-none text-black" th:href="@{|/edit/${done.id}|}">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <a class="text-decoration-none text-black" th:href="@{|/delete/${done.id}|}">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
                <p class="card-text" th:text="${done.title}"></p>
                <div style="text-align: center">
                  <form class="needs-validation col-sm-6" th:action="@{/move-left/{toDoId} (toDoId=${done.id})}" th:method="put" style="width: 100%">
                    <button type="submit" class="btn btn-success">
                      <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>